
{% extends "map.html" %}

{% block body %}
<form action="{{url_for('resultOnMap')}}" method="GET" class="form-inline">
    <div class="form-inline">
        <label for="number">Distance in meter:</label>
        <input type="text" id="radius" class="form-control" onchange="newRange(this.value)" name="distance"/>
    </div>
    <div class="form-inline">
        <label for="lat">Latitude:</label>
        <input type="float" step=any class="form-control" id="lat" name="lat">
    </div>
    <div class="form-inline">
        <label for="lon">Longitudine:</label>
        <input type="float" step=any class="form-control" id="lon" name="lon">
    </div>
    <div class="form-inline">
        <label for="isSelf">Tipologia:</label>
        <select name="isSelf">
            <option value="0">Servito</option>
            <option value="1">SelfService</option>
            <option value="2">Entrambi</option>
          </select>
    </div>
    <div class="form-inline">
        <label for="model">Modello:</label>
        <select name="model">
            <option value="0">Lineare</option>
            <option value="1">Polinomiale</option>
            <option value="2">Best model</option>
          </select>
    </div>
    <button type="submit" class="btn btn-link">Submit</button>
</form>

{% endblock %}

{% block script %}

    var myMarker = L.marker([lat, lon], {title: "Tu sei qui", alt: "The Big I", draggable: true})
    .addTo(map)
    .on('dragend', function() {
        var coord = String(myMarker.getLatLng()).split(',');
        console.log(coord);
        var lat = coord[0].split('(');
        console.log(lat);
        var lng = coord[1].split(')');
        console.log(lng);
        myMarker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
        CIRCLE.setLatLng(myMarker.getLatLng());
        $("#lat").val(myMarker.getLatLng().lat)
        $("#lon").val(myMarker.getLatLng().lng)
        $("#radius").val(CIRCLE.getRadius())
    });
    CIRCLE.addTo(map)
    $("#radius").val(CIRCLE.getRadius())
    $("#lat").val(lat)
    $("#lon").val(lon)

{% endblock %}

{% block js %}
    function newRange(val) {
        CIRCLE.setRadius(val).redraw();
    }
{% endblock %}