<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
		integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
		crossorigin=""></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	{% block head %}{% endblock %}
 </head>
 <body>
	<div class="h6 text-center">
        {% block title %}
        <h3>Carburanti</h3>
		<p>Trova il distributore migliore vicino a te</p>
        {% endblock %}
	</div>
    
    <section>
        {% block body %}{% endblock %}
    </section>
    <section>
        <div id="map" style="height: 80vh;"></div>
    </section>    
    <section id="result">
        {% block result %} {% endblock %}
    </section>

</body>
 
 </html>

<!---------------------------------------------------------------JAVASCRIPT------------------------------------------>
 <script>
    var layer = null
    var minlayer = null
    var map = null
    var control = null

    var init = false;
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;

        console.log('Your current position is:');
        console.log(`Latitude : ${crd.latitude}`);
        console.log(`Longitude: ${crd.longitude}`);
        console.log(`More or less ${crd.accuracy} meters.`);
        lat = crd.latitude;
        lon = crd.longitude;
        
        show(lat, lon);
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    function show(lat, lon) {
        map = L.map('map', {
            center: [lat, lon], 
            zoom: 13
        });
        
        var layer2 = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        CIRCLE = L.circle([lat, lon], {
            color: '#33cc33',
            fillColor: '#33cc33',
            fillOpacity: 0.2,
            radius: 10000
        })

        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            }),
            Wikimedia = L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
                attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
                minZoom: 1,
                maxZoom: 19
            });
        var baseMaps = {
            "Earth": Esri_WorldImagery,
            "Wikimedia": Wikimedia
        };

        var overlayMaps = null
        {% block script %}
        var myMarker = L.marker([lat, lon], {title: "Tu sei qui"}).addTo(map)
        {% endblock %}
        control = L.control.layers(baseMaps, overlayMaps).addTo(map)

        map.addLayer(Wikimedia)
        return map;
    }

    //start the script
    map = navigator.geolocation.getCurrentPosition(success, error, options);

    {% block js %}
    {% endblock %}

</script>