{% extends "map.html" %}

{% block title %}
<h3>I migliori distributori secondo le previsioni sono</h3>
{% if min0 is defined %}
<h4 style="color: blue">Servito:</h4>
    {% for index, row in min0.iterrows() %}
        {{ row['Indirizzo'] }} {{ row['Comune'] }} {{ row['Provincia'] }}, {{ row['Bandiera'] }}, Servito:{{ row['prezzo0'][0] }}€<br/>
    {% endfor %}
{% endif %}
    
{% if min1 is defined %}
<h4 style="color: green">Self Service</h4>
    {% for index, row in min1.iterrows() %}
        {{ row['Indirizzo'] }} {{ row['Comune'] }} {{ row['Provincia'] }}, {{ row['Bandiera'] }}, Self:{{ row['prezzo1'][0] }}€<br/>
    {% endfor %}
{% endif %}
{% endblock %}

{% block body %}
    <div class="text-center">Back to the <a href="{{ url_for('form') }}">FORM</a></div>

{% endblock %}

{% block result %}
<div id="top"></div>
<hr>
<div io="other"></div>
{% endblock %}

{% block script %}

    layer = L.layerGroup()
    minLayer = L.layerGroup()

    {% if dati is defined %}
        {% for index, row in dati.iterrows() %}
            var gasoline_pump = L.icon({
                iconUrl: '{{ url_for("static", filename="gasoline-pump.png")}}',
                iconSize:     [20, 20], // size of the icon
                iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
                popupAnchor:  [20, 10] // point from which the popup should open relative to the iconAnchor
            });

            maker = L.marker([{{row['Latitudine']}},{{row['Longitudine']}}], {icon: gasoline_pump})

            {% if isSelf == 0 %}
                    maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo0']}} €</strong>");
            {% elif isSelf == 1 %}
                    maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo1']}} €</strong>");
            {% else %}
                    maker.bindPopup("<strong>{{row['Bandiera']}} : servito {{row['prezzo0']}}€, self {{row['prezzo1']}}€</strong>")
            {% endif %}
            layer.addLayer(maker)

        {% endfor %}
        
        
        
        {% if min0 is defined %}
            {% for index, row in min0.iterrows() %}
                var gasoline_pump = L.icon({
                    iconUrl: '{{ url_for("static", filename="gasoline-pump-blue.png")}}',
                    iconSize:     [20, 20], // size of the icon
                    iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
                    popupAnchor:  [20, 10] // point from which the popup should open relative to the iconAnchor
                });

                maker = L.marker([{{row['Latitudine']}},{{row['Longitudine']}}], {icon: gasoline_pump})

                {% if isSelf == 0 %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo0']}} €</strong>");
                {% elif isSelf == 1 %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo1']}} €</strong>");
                {% else %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : servito {{row['prezzo0']}}€, self {{row['prezzo1']}}€</strong>")
                {% endif %}
                
                minLayer.addLayer(maker)
            {% endfor %}
        {% endif %}
        {% if min1 is defined %}
            {% for index, row in min1.iterrows() %}
                var gasoline_pump = L.icon({
                    iconUrl: '{{ url_for("static", filename="gasoline-pump-green.png")}}',
                    iconSize:     [20, 20], // size of the icon
                    iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
                    popupAnchor:  [20, 10] // point from which the popup should open relative to the iconAnchor
                });

                maker = L.marker([{{row['Latitudine']}},{{row['Longitudine']}}], {icon: gasoline_pump})

                {% if isSelf == 0 %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo0']}} €</strong>");
                {% elif isSelf == 1 %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : {{row['prezzo1']}} €</strong>");
                {% else %}
                        maker.bindPopup("<strong>{{row['Bandiera']}} : servito {{row['prezzo0']}}€, self {{row['prezzo1']}}€</strong>")
                {% endif %}
                
                minLayer.addLayer(maker)
            {% endfor %}
        {% endif %}

        map.setView([{{request.args['lat']}}, {{request.args['lon']}}])
        var myMarker = L.marker([{{request.args['lat']}}, {{request.args['lon']}}], {title: "Tu sei qui"}).addTo(map)
        var circle = L.circle([{{request.args['lat']}}, {{request.args['lon']}}], {
                    color: '#33cc33',
                    fillColor: '#a9f3ea',
                    fillOpacity: 0.2,
                    radius: {{ request.args["distance"] }}
                }).addTo(map);

    {% endif %}
                    
    overlayMaps = {
        "altriDistributori": layer,
        "migliori" : minLayer
    };

    minLayer.addTo(map)

{% endblock %}

{% block js %}

{% endblock %}